<%= render "shared/header" %>

<%# 日報の概要 %>
<div class="diary-show">
  <div class="diary-box">
    <h2 class="name">
      <%= @diary.place %>
    </h2>
    <div class="diary-img-content">
      <%= image_tag @diary.image ,class:"diary-box-img" %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @diary.user_id %>
        <%= link_to "日報の編集",edit_diary_path, method: :get, class: "diary-orange-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", diary_path(@diary), method: :delete, class:"diary-destroy" %>
      <% else %>
      <% end %>
    <% end %>

      <div class="diary-explain-box">
        <span><%= @diary.work %></span>
      </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-diary">投稿者</th>
          <td class="detail-value"><%= @diary.user.last_name  %> <%= @diary.user.first_name  %></td>
        </tr>
        <tr>
          <th class="detail-diary">現場名</th>
          <td class="detail-value"><%= @diary.place %></td>
        </tr>
        <tr>
          <th class="detail-diary">作業内容</th>
          <td class="detail-value"><%= @diary.work %></td>
        </tr>
        <tr>
          <th class="detail-diary">開始時間</th>
          <td class="detail-value"><%= @diary.start_time %></td>
        </tr>
        <tr>
          <th class="detail-diary">終了時間</th>
          <td class="detail-value"><%= @diary.ending_time %></td>
        </tr>
        <tr>
          <th class="detail-diary">作業進捗</th>
          <td class="detail-value"><%= @diary.category.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
<%# /日報の概要 %>

  <div id="comments">
    <h4>＜コメント一覧＞</h4>
      <% @diary.comments.each do |comment| %>
        <div class="comment">
          <p class="user-info"><%= comment.user.last_name %>： </p>
          <p><%= comment.text%></p>
        </div>
      <% end %>
  </div>

  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with model: [@diary, @comment], id: "comment-form" do |f| %>
        <%= f.text_area :text , class: "comment-text"%>
        <%= f.submit "コメントをする", class: "comment-submit" %>
      <% end %>
    <% end %>
  </div>
</div>